@model List<Education>   

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div>
    <h3 class="font-body-lg text-body-lg font-semibold text-on-background mb-stack-md flex items-center gap-2">
        <span class="material-symbols-outlined text-primary">school</span> Education
    </h3>
    <div class="relative border-l border-outline-variant/30 pl-6 ml-3 space-y-stack-lg">
        @foreach(var item in Model)
        {
            <div class="relative">
                <span class="absolute -left-[31px] top-1 w-4 h-4 rounded-full bg-primary ring-4 ring-background"></span>
                <h4 class="font-body-lg text-body-lg text-on-background font-semibold">@item.Department</h4>
                <p class="font-label-sm text-label-sm text-primary mb-2">@item.SchoolName | @item.StartYear - @item.GraduationYear</p>
                <p class="font-body-md text-body-md text-on-surface-variant">@item.Description</p>
            </div>
        }
       

    </div>
</div>